{% extends 'base.html' %}
<link rel="manifest" href="/static/manifest.json">
<meta name="theme-color" content="#800080">

{% block content %}
  <div class="hero">
    <div>
      <h1 class="text-center">Welcome to Lord Venkateswara Temple</h1>
      <p class="text-center">A Divine Experience Awaits You</p>
    </div>
  </div>

  <div class="container mt-5 text-center">
    <h2>Experience Peace, Devotion, and Blessings</h2>
    <p>Explore daily sevas, photo galleries, donate online, and get updates about temple events.</p>
  </div>
{% endblock %}
